html {
  height: 100%;
}
.site {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 2em;
}
p,
a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}

.navbar__logo-container {
  display: flex;
  align-items: center;
  height: 60px;
}

textarea {
  height: 150px;
}

.main-header {
  height: 320px;
}

.main-header.blue {
  background: linear-gradient(to left, #36d1dc, #5b86e5);
}
.main-header.indigo {
  background: linear-gradient(to left, #8f94fb, #4e54c8);
}
.main-header.pink {
  background: linear-gradient(to right, #800080, #ffc0cb);
}
.main-header.orange {
  background: linear-gradient(to right, #ff5f6d, #ffc371);
}
.main-header.green {
  background: linear-gradient(to left, #48b1bf, #06beb6);
}

.main-header-title {
  color: #fff;
  padding-top: 110px;
}
.main-header-title p {
  max-width: 500px;
}

.auth-header {
  height: 200px;
}

.hero {
  padding: 150px 0 100px;
  background: linear-gradient(to left, #36d1dc, #5b86e5);
}
.hero h1 {
  font-size: 3em;
  color: #fff;
}
.hero p {
  font-size: 1.8em;
  color: #fff;
}
.hero img {
  height: 220px;
  padding: 20px 0 0 120px;
}
.services {
  padding: 20px 0;
}
.services img {
  height: 320px;
  padding-top: 25%;
  padding-left: 20%;
}
.api-list {
  padding: 40px 0;
  color: #fff;
  background: linear-gradient(to right, #89216b, #da4453);
}
.api-list-row {
  margin: 20px 0;
}

.cta {
  padding: 20px 0 80px;
}

.text-word-count h4 {
  display: inline-block;
  margin-right: 20px;
}

.tab-panes {
  margin-top: 40px;
}

.keyword-result {
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  border: solid 1px #000;
  border-radius: 3px;
}
.keyword-result-borderless {
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  border: none;
  border-radius: 3px;
}
.keyword-result-borderless-inverted {
  display: inline-block;
  color: #fff;
  padding: 5px 15px;
  margin: 5px;
  border: none;
  border-radius: 3px;
}
.defined-entry-hashtag {
  color: #7f0280;
}
.dictionary-wordsapi-subheader {
  font-weight: 600;
}

.tag-powered-by {
  font-size: 0.8em;
  font-weight: 600;
  text-align: right;
  padding: 5px 10px;
  color: #888;
}
.tag-powered-by a {
  color: linear-gradient(to left, #5b86e5, #36d1dc);
  font-weight: 600;
}
.tag-powered-by a:hover {
  text-decoration: underline;
}

.heart {
  fill: #89216b;
  position: relative;
  margin: 0 5px;
  top: 3px;
  width: 15px;
}

i.icon.info.circle:before {
  margin-left: 10px;
  color: #b0bec5;
}
