/* ************************* */
/* *** Sticky Footer Fix *** */
/* ************************* */
html {
  height: 100%;
}
.site {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
.sticky-footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Montserrat;
}
h1 {
  font-size: 2em;
}
p,a {
  font-family: Lato;
  font-weight: 300;
  font-size: 1.1em;
}

/* ****************** */
/* *** Navigation *** */
/* ****************** */
.nav-logo {
  width: 40px;
}

/* **************** */
/* *** Textarea *** */
/* **************** */
textarea {
  height: 150px;
}

/* ************** */
/* *** Header *** */
/* ************** */
.main-header {
  height: 320px;
}

.main-header.blue {
  background: #5B86E5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #36D1DC, #5B86E5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #36D1DC, #5B86E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-header.indigo {
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-header-title {
  color: #fff;
  padding-top: 110px;
}
.main-header-title p {
  max-width: 500px;
}

/* ************ */
/* *** Tabs *** */
/* ************ */
.tab-panes {
  margin-top: 40px;
}

/* ******************** */
/* *** Tooltip Icon *** */
/* ******************** */
i.icon.info.circle:before {
  margin-left: 10px;
  color: #B0BEC5;
}
