/* ************************* */
/* *** Sticky Footer Fix *** */
/* ************************* */
html {
  height: 100%;
}
.site {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
.sticky-footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

/* ****************** */
/* *** Typography *** */
/* ****************** */
h1,h2,h3,h4,h5,h6 {
  font-family: Montserrat;
}
h1 {
  font-size: 2em;
}
p,a {
  font-family: Lato;
  font-weight: 300;
  font-size: 1.1em;
}

/* ****************** */
/* *** Navigation *** */
/* ****************** */
.nav-logo {
  width: 40px;
}

/* **************** */
/* *** Textarea *** */
/* **************** */
textarea {
  height: 150px;
}

/* ************** */
/* *** Header *** */
/* ************** */
.main-header {
  height: 320px;
}

.main-header.blue {
  background: #5B86E5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #36D1DC, #5B86E5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #36D1DC, #5B86E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-header.indigo {
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-header.pink {
  background: #800080;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #800080, #ffc0cb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #800080, #ffc0cb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-header.orange {
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF5F6D, #FFC371);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF5F6D, #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-header.green {
  background: #06beb6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.main-header-title {
  color: #fff;
  padding-top: 110px;
}
.main-header-title p {
  max-width: 500px;
}

.auth-header {
  height: 200px;
}

/* ******************** */
/* *** Landing Page *** */
/* ******************** */
.hero {
  height: 65vh;
  padding-top: 180px;
  max-height: 600px;
  background: #5B86E5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #36D1DC, #5B86E5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #36D1DC, #5B86E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.hero h1 {
  font-size: 3em;
  color: #fff;
}
.hero p {
  font-size: 1.8em;
  color: #fff;
}
.hero img {
  height: 220px;
  padding: 20px 0 0 120px;
}
.services {
  height: 80vh;
  padding-top: 20px;
  max-height: 800px;
}
.services img {
  height: 320px;
  padding-top: 25%;
  padding-left: 20%;
}
.api-list{
  padding: 40px 0;
  color: #fff;
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.api-list-row{
  margin: 20px 0;
}

.cta {
  height: 45vh;
  padding: 20px 0 40px;
  max-height: 400px;
}
.cta-img {
  max-height: 40px;
  padding-right: 15px
}

/* ************** */
 /* TEXT ANALYSIS */
 /* ************* */

.text-word-count h4 {
  display: inline-block;
  margin-right: 20px;
}

/* ************ */
/* *** Tabs *** */
/* ************ */
.tab-panes {
  margin-top: 40px;
}

/* *************** */
/* *** Results *** */
/* *************** */
/* Style the list of keyword suggedstions/ hashtag suggestions */
.keyword-result {
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  border: solid 1px #000;
  border-radius: 3px;
}
.keyword-result-borderless {
  display: inline-block;
  padding: 5px 15px;
  margin: 5px;
  border: none;
  border-radius: 3px;
}
.keyword-result-borderless-inverted {
  display: inline-block;
  color: #fff;
  padding: 5px 15px;
  margin: 5px;
  border: none;
  border-radius: 3px;
}
.defined-entry-hashtag{
  color: #7f0280;
}
.dictionary-wordsapi-subheader{
  font-weight: 600;
}


/* ************ */
/* *** Tags *** */
/* ************ */
.tag-powered-by {
  font-size: .8em;
  font-weight: 600;
  text-align: right;
  padding: 5px 10px;
  color: #888;
}
.tag-powered-by a {
  color: #5B86E5;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to left, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to left, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-weight: 600;
}
.tag-powered-by a:hover {
  text-decoration: underline;
}

/* ******************** */
/* *** Footer heart *** */
/* ******************** */
.heart {
  fill: #89216B;
  position: relative;
  margin: 0 5px;
  top: 3px;
  width: 15px;
}


/* ******************** */
/* *** Tooltip Icon *** */
/* ******************** */
i.icon.info.circle:before {
  margin-left: 10px;
  color: #B0BEC5;
}
